// Componant: Card

.register-form {
	position: relative;
	background: $white;
	border-radius: 5px;
    margin-top: 15px;
    padding: 50px 70px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 20px 2px #e8e8e8;

	@media print {
		border: 1px solid #ddd;
	}
	@media (max-width: 479px) {
		margin-top: 20px;
		font-size: 12px;
		padding: 10px 18px;
	}

	&.small { padding: 0; }

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.9);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		color: #555;
		border-radius: 3px;

		.l-text {
			font-size: 24px;
			margin-top: 15px;
		}
	}
}

.form-group {
	input {
		border-radius: 2px;
	}
}

.create-coupon {
	&:hover,
	&:focus {
		background: $create-coupon-hover!important;
	}
}

